{% extends 'book/main.html' %}
{% load crispy_forms_tags %}
    
{% block content %}
<head>
    <style>
        td{
            padding-bottom: 10px;
        }
    </style>
</head>
<article class="media">
    <div class="media-content">
        <div class="content">
            <a href="#">AddEquation</a>
        </div>
    </div>
</article>
<br>

<table>
<article class="media">
    <div class="media-content">
        <div class="content">
          <form action="{% url 'book:add_equation' %}" method="POST" class="uniForm" >
              {% csrf_token %}
              <tr><td>{{form.subject}}</td></tr> 
              <tr><td>{{form.module}}</td></tr> 
              <tr><td>{{form.heading}}</td></tr> 
              <tr><td style="text-align: center; font-size: 20px;color: rgb(9, 84, 146);">Equation</td></tr>
              <tr><td>{{form.media}}</td></tr>  
              <tr><td>{{form.equation}}</td></tr> 
              <tr><td><input type="submit" value="submit"></td></tr>
            </form>
        </div>
    </div>
</article>
</table>



{% endblock content %}