<!DOCTYPE html>
<html lang="en">

<head>
<style>
    h1{
        display: inline;
    }
    #note{float: right;padding-left: 20px;font-style: italic;font-weight: 1000;}
    #notes{float: right;padding-left: 20px;font-style: italic;font-weight: 1000;font-size: 20px;}
</style>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                   {{request.user}} Note
                </h1>
                {% if request.path == "/register/" or  request.path == '/login/' %}
                    <h1 id="notes"><a href="{% url 'book:login' %}">Login</a></h1>
                    <h1 id="notes"><a href="{% url 'book:register' %}">Register</a></h1>
                {% elif request.path == "/displaytimetable/" %}
                 <h1 id="notes"><a href="{% url 'book:addtimetable' %}">Add TimeTable</a></h1>
                 <h1 id="notes"><a href="{% url 'book:edittimetable' %}">Edit TimeTable</a></h1>
                 {% elif "/content/" in request.path %}
                 <h1 id="notes"><a href="{% url 'book:addtimetable' %}">Edit Note</a></h1>
                 <h1 id="notes"><a href="{% url 'book:addtimetable' %}">Delete Note</a></h1> 
                {% else %}
                    <h1 id="note"><a href="{% url 'book:logout' %}">Logout</a></h1>
                    <h1 id="note"><a href="{% url 'book:addnote' %}">Add_Note</a></h1>
                    <h1 id="note"><a href="{% url 'book:add_equation' %}">Add_Equations</a></h1>
                    <h1 id="note"><a href="{% url 'book:displaytimetable' %}">Time_table</a></h1>
                    <h1 id="note"><a href="{% url 'diary:index' %}">Diary</a></h1>
                    <h1 id="note"><a href="{% url 'book:subject_equation' %}">Equations</a></h1>
                    <h1 id="note"><a href="{% url 'book:index' %}">Subjects</a></h1>
                {% endif %}
                
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% block content %}
        
            {% endblock content %}
        </div>
</body>

</html>