{% extends 'book/main.html' %}

    
{% block content %}

<article class="media">
    <div class="media-content">
        <div class="content">
            <a href="#">Module</a>
        </div>
    </div>
</article>
<br>

{% for obj in module %}
<article class="media">
    <div class="media-content">
        <div class="content">
          
               
               <p><a href="{% url 'book:heading' obj.module %}">{{obj.module}}</a></p>           
        </div>
    </div>
</article>

{% endfor %}

{% endblock content %}